@font-face {
  font-family: "Roboto-slab";
  src: url("../../assets/fonts/roboto-slab-400-regular.woff") format("woff");
}

.about {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 50px 104px;
  justify-content: center;
}

.about__image {
  width: 464px;
  height: 464px;
  border-radius: 50%;
  overflow: hidden;
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 700px;
  overflow-wrap: break-word;
}

.about__title {
  font-family: "Roboto-slab", "Times New Roman", serif;
  font-size: 40px;
}

.about__paragraph {
  font-size: 18px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .about {
    padding: 61px 40px;
  }

  .about__image {
    width: 232px;
    height: 232px;
  }

  .about__container {
    width: 400px;
  }
}

@media (max-width: 320px) {
  .about {
    flex-direction: column;
    padding: 32px 16px;
  }

  .about__image {
    width: 272px;
    height: 272px;
  }

  .about__container {
    width: 260px;
  }
}
