@font-face {
  font-family: "Roboto-slab";
  src: url("../../assets/fonts/roboto-slab-400-regular.woff") format("woff");
}

.search__container {
  margin: 0 auto;
  width: 600px;
  position: relative;
}

.search__title {
  margin: 0;
  padding-top: 80px;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  font-family: "Roboto-slab", "Times New Roman", serif;
}

.search__paragraph {
  color: rgba(255, 255, 255, 1);
}

.search__form {
  margin: 70px 0 0;
}

.search__input {
  width: 470px;
  height: 48px;
  border-radius: 100px;
  border: none;
  padding-left: 25px;
  margin-bottom: 80px;
}

.search__btn {
  width: 120px;
  height: 50px;
  border-radius: 100px;
  position: absolute;
  left: 410px;
  background-color: rgba(47, 113, 229, 1);
  border: none;
  color: rgba(255, 255, 255, 1);
}
