@font-face {
  font-family: "Roboto-slab";
  src: url("../../assets/fonts/roboto-slab-400-regular.woff") format("woff");
}

.header {
  background-image: url("../../assets/Header-background.png");
}

.header__logo {
  font-family: "Roboto-slab", "Times New Roman", serif;
  color: rgba(255, 255, 255, 1);
}

.header__container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  padding: 13px 104px 16px;
}

.header__nav-container {
  display: flex;
  list-style-type: none;
  gap: 35px;
  margin: 0;
}

.header__nav-home-link {
  margin: 0;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.header__nav-news-link {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.header__nav-btn {
  width: 120px;
  height: 40px;
  border-radius: 100px;
  margin: 7px 0;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}

.header__nav-logout {
  width: 80px;
  height: 35px;
  border-radius: 100px;
  background-color: transparent;
  margin: 7px 0;
  border-color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}
