@font-face {
  font-family: "Roboto-slab";
  src: url("../../assets/fonts/roboto-slab-400-regular.woff") format("woff");
}

.header {
  background-image: url("../../assets/Header-background.png");
}

.header_saved {
  background-image: none;
}

.header_mobile-open {
  background-image: none;
  background-color: rgba(26, 27, 34, 1);
}

.header_saved-mobile {
  background-image: none;
  background-color: rgba(26, 27, 34, 1);
  color: azure;
}

/* @media (max-width: 320px) {
  .header_mobile-open {
    background-color: rgba(26, 27, 34, 1);
  }
} */
