@font-face {
  font-family: Roboto-slab;
  src: url("../../assets/fonts/roboto-slab-400-regular.woff") format("woff");
}

.articles {
  padding: 40px 104px;
}

.articles__paragraph {
  color: rgba(26, 27, 34, 0.5);
  margin: 0 0 28px;
}

.articles__heading {
  font-family: "Roboto-slab", "Times New Roman", Times, serif;
  font-size: 40px;
  line-height: 46px;
  width: 530px;
}

.articles__keywords {
  margin: 16px 0 0;
}

.card__list-container {
  padding: 0;
  background-color: rgba(245, 246, 247, 1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card__list {
  padding: 62px 104px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

@media (max-width: 768px) {
  .articles {
    padding: 32px 40px;
  }

  .articles__paragraph {
    font-size: 14px;
    margin: 0 0 16px;
  }

  .articles__heading {
    margin: 0;
  }

  .card__list {
    gap: 8px;
    padding: 32px 0;
  }
}

@media (max-width: 320px) {
  .articles {
    padding: 8px 16px;
  }

  .articles__paragraph {
    margin: 0 0 16px;
    font-size: 12px;
  }

  .articles__heading {
    width: 288px;
    margin: 0;
    font-size: 30px;
  }

  .card__list {
    padding: 24px 16px;
    gap: 10px;
  }
}
