@font-face {
  font-family: Roboto-slab;
  src: url("../../assets/fonts/roboto-slab-400-regular.woff") format("woff");
}

.card {
  width: 350px;
  height: 576px;
  border-radius: 10px;
  list-style-type: none;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
}
.card__like-btn {
  background-image: url(../../assets/Bookmark.svg);
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  border-radius: 25%;
  cursor: pointer;
}

.card__like-btn_active {
  background-image: url(../../assets/Bookmark-active.svg);
}

.card__like-btn:hover {
  background-image: url(../../assets/Bookmark-hover.svg);
}

.card__tooltip {
  width: 180px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 20px;
  right: 65px;
  visibility: hidden;
}

.card__like-btn:hover + .card__tooltip {
  visibility: visible;
}

.card__image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__content {
  padding: 0 20px;
}

.card__date {
  font-size: 18px;
  letter-spacing: 0;
  color: rgba(182, 188, 191, 1);
}

.card__title {
  font-size: 26px;
  margin: 8px 0;
  font-family: "Roboto-slab", "Times New Roman", Times, serif;
}

.card__source-name {
  font-family: "Roboto-slab", "Times New Roman", Times, serif;
  color: rgba(182, 188, 191, 1);
}
