@font-face {
  font-family: Roboto-slab;
  src: url("../../assets/fonts/roboto-slab-400-regular.woff") format("woff");
}

.card {
  width: 350px;
  height: 620px;
  border-radius: 10px;
  list-style-type: none;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
}
.card__like-btn {
  background-image: url(../../assets/Bookmark.svg);
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  border-radius: 25%;
  cursor: pointer;
}

.card__like-btn_active {
  background-image: url(../../assets/Bookmark-active.svg);
}

.card__like-btn:hover {
  background-image: url(../../assets/Bookmark-hover.svg);
}

.card__like-btn_delete {
  background-image: url(../../assets/Delete-button.svg);
}

.card__like-btn_delete:hover {
  background-image: url(../../assets/Delete-button.svg);
}

.card__tooltip {
  width: 180px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 20px;
  right: 65px;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__like-btn:hover + .card__tooltip {
  visibility: visible;
}

.card__image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__content {
  padding: 0 20px;
}

.card__date {
  font-size: 18px;
  letter-spacing: 0;
  color: rgba(182, 188, 191, 1);
}

.card__title {
  font-size: 26px;
  margin: 8px 0;
  font-family: "Roboto-slab", "Times New Roman", Times, serif;
}

.card__info {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 6;
}

.card__read-more {
  border: none;
}

.card__source-name {
  font-family: "Roboto-slab", "Times New Roman", Times, serif;
  color: rgba(182, 188, 191, 1);
}

@media (max-width: 786px) {
  .card {
    width: 210px;
    height: 450px;
  }

  .card__image {
    height: 130px;
  }

  .card__like-btn {
    top: 10px;
    right: 10px;
  }

  .card__tooltip {
    width: 150px;
    height: 40px;
    top: 10px;
    right: 55px;
  }

  .card__title {
    font-size: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
  }

  .card__title--expanded {
    display: block;
  }

  .card__content {
    padding: 0 16px;
  }
}

@media (max-width: 320px) {
  .card {
    width: 288px;
    height: 540px;
  }
}
